/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);

body {
  font-family: Arial Narrow, Arial, Sans serif;
  font-size: 85%;
  color: #666666;
  text-align: left;
}

p {
  margin-bottom: 0.5em;
}

h1.title {
  display: none;
}

div#region-branding {
	margin-top: 40px;
}

h1.site-name a, h2.site-name a {
  text-decoration: none;
  font-family: 'Carrois Gothic', sans-serif;
  color: #444;
  font-size: 38px;
}

div.content {
	text-align: right;
}

div.field-name-body {
  margin-top: 2em;
}

#block-system-main-menu {
  margin-top: 30px;
}

#block-system-main-menu ul.menu {
  list-style-type: none !important;
}

#block-system-main-menu ul.menu li {
  list-style-image: none !important;
  list-style-type: none;
}

ul.menu li.expanded a {
  text-decoration: none;
  color: #666;
}

ul.menu li.expanded a.active {
	font-weight: bold;
}

ul.menu li.leaf {
  font-weight: normal;
  margin-left: 1em;
}

ul.menu li.leaf a:hover {
  text-decoration: none;
  color: black;
}

ul.menu li.last {
  margin-bottom: 15px !important;
}

ul.menu ul.menu li a.active-trail {
  color: #d3c600;
}

img {
  margin-bottom: 15px;
}


